---
import T from "../components/T.jsx";
---

<nav
  class="w-full py-4 px-6 flex justify-between items-center backdrop-blur sticky top-0 z-50"
  style="background-color: var(--nav-bg); color: var(--nav-text);"
>
  <h1 class="font-semibold text-lg">Gastón.dev</h1>

  <div class="flex items-center gap-6">
    <a
      href="#projects"
      class="transition"
      style="color: var(--nav-text);"
      onmouseover="this.style.color='var(--nav-hover)'"
      onmouseout="this.style.color='var(--nav-text)'"
    >
      <T client:load k="nav.projects" />
    </a>

    <a
      href="#contact"
      class="transition"
      style="color: var(--nav-text);"
      onmouseover="this.style.color='var(--nav-hover)'"
      onmouseout="this.style.color='var(--nav-text)'"
    >
      <T client:load k="nav.contact" />
    </a>

    <button
      id="theme-toggle"
      class="p-2 rounded transition cursor-pointer"
      style="color: var(--nav-text);"
    >
      🌙
    </button>

    <div class="flex gap-2">
      <button
        onclick="setLang('es')"
        class="cursor-pointer rounded transition"
        style="color: var(--nav-text);"
        onmouseover="this.style.color='var(--nav-hover)'"
        onmouseout="this.style.color='var(--nav-text)'">ES</button
      >
      <button
        onclick="setLang('en')"
        class="cursor-pointer rounded transition"
        style="color: var(--nav-text);"
        onmouseover="this.style.color='var(--nav-hover)'"
        onmouseout="this.style.color='var(--nav-text)'">EN</button
      >
    </div>
  </div>

  <script>
    import { changeLang } from "../i18n/i18n.js";
    window.setLang = changeLang;

    const btn = document.getElementById("theme-toggle");

    if (btn)
      btn.onclick = () => {
        document.documentElement.classList.toggle("dark");
        localStorage.theme = document.documentElement.classList.contains("dark")
          ? "dark"
          : "light";
      };

    if (localStorage.theme === "dark") {
      document.documentElement.classList.add("dark");
    }
  </script>
</nav>
