---
import ProjectCard from "./ProjectCard.astro";
import T from "./T";

const projects = [
  {
    title: "Client Manager",
    description:
      "CRM con React + TS + Tailwind. CRUD básico, con pequeñas interacciones y validaciones.",
    tech: ["React", "TypeScript", "Tailwind"],
    link: "https://github.com/gasssston/client-manager",
  },
  {
    title: "Kanban Collab",
    description:
      "Tablero Kanban colaborativo con Angular, RxJS y JWT para autenticación.",
    tech: ["Angular", "RxJS", "JWT"],
    link: "https://github.com/gasssston/kanban-collab",
  },
  {
    title: "Airports of the World",
    description:
      "App de aeropuertos, gestionada por Vueling como prueba técnica ;D",
    tech: ["Angular", "TypeScript"],
    link: "https://github.com/gasssston/airports-of-the-world",
  },
];
---

<section id="projects" class="max-w-5xl mx-auto py-20">
  <h3 class="text-3xl font-semibold mb-10 text-center">
    <T client:load k="projects.title" />
  </h3>

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {projects.map((p) => <ProjectCard {...p} />)}
  </div>
</section>
